$grey: #EDEDE8;
$font-color: #333;
$white: #fff;
$border-color: darken($grey, 20%);

.custom-file-container {
    box-sizing: border-box;
    position: relative;
    display: block;

    &__custom-file {
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        width: 100%;
        height: calc(2.25rem + 2px);
        margin-bottom: 0;
        margin-top: 5px;

        &:hover {
            cursor: pointer;
        }

        &__custom-file-input {
            box-sizing: border-box;
            min-width: 14rem;
            max-width: 100%;
            height: calc(2.25rem + 2px);
            margin: 0;
            opacity: 0;
        }

        &__custom-file-control {
            box-sizing: border-box;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 5;
            height: calc(2.25rem + 2px);
            padding: .5rem .75rem;
            overflow: hidden;
            line-height: 1.5;
            color: $font-color;
            user-select: none;
            background-color: $white;
            background-clip: padding-box;
            border: 1px solid $border-color;
            border-radius: .25rem;
        }

        &__custom-file-control:empty::after {
            box-sizing: border-box;
            content: "Choose file...";
        }

        &__custom-file-control::before {
            box-sizing: border-box;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 6;
            display: block;
            height: calc(2.25rem + 2px);
            padding: .5rem .75rem;
            line-height: 1.25;
            color: $font-color;
            background-color: $grey;
            border-left: 1px solid $border-color;
        }

        &__custom-file-control::before {
            box-sizing: border-box;
            content: "Browse";
        }
    }

    &__image-preview {
        box-sizing: border-box;
        transition: all 0.6s ease;
        margin-top: 20px;
        margin-bottom: 40px;
        height: 250px;
        width: 100%;
        border-radius: 4px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}